@import '../../style/scss/paletas';
.controllers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    a{
        transition: all;
        transition-timing-function: ease-in-out;
        transition-duration: .5s;
        position: relative;
        display: flex;
        justify-content: center;
        text-decoration: none;
        margin: 5px;
        span{
            display: none;
            padding: 5px;
            background-color: $corPrimary3;
            font-size: 18px;
            top: -40px;
            color: white;
            position: absolute;
            border-radius: 5px;
            justify-content: center;
            align-items: center;
            margin: auto;
            z-index: 2;
        }
        .mark{
            display: none;
            position: absolute;
            top: -28px;
            border-radius: 3px;
            z-index: 1;
            padding: 10px;
            transform: rotate(45deg);
            background-color: $corPrimary3;
        }
        picture{
            img, svg{
                width: 50px;
                height: 50px;
                background-color: $branco300;
                padding: 10px;
                border-radius: 10px;
                
            }
        }
        &:hover{
            span, .mark{
                display: block;
            }
        }
    }
}