@import '../../style/scss/paletas';

section{
    position: relative;
    width: 95vw;
    height: 85vh;
    background-color: $branco300;
    margin: auto;
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #211c687a;
    div{
        width: 100%;
        a{
            text-decoration: none;
        }
    }
    .display{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90%;
        .selects1, .selects2 .vision{
            height: 100%;
        }
        .menuExpand, .menuExit {
            display: none;
        }
        .selects1, .selects2{
            padding: 25px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 10%;
            background-color: $corPrimary2;
            box-shadow: 5px 5px 10px rgba(196, 196, 196, 0.63);
            border-radius: 10px;
            &::-webkit-scrollbar-thumb{
                width: 10px;
                background-color: $corPrimary8;
                border-radius: 50px;
            }
            &::-webkit-scrollbar{
                width: 5px;
                background-color: transparent;
            }
            .btn{
                transition: all;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                color: $corPrimary1;
                background-color: whitesmoke;
                width: 50px;
                height: 50px;
                padding: 10px;
                margin: 8px;
                border-radius: 10px;
                p{
                    display: none;
                }
                &:hover{
                    display: flex;
                    justify-content: space-between;
                    width: 150px;
                    p{
                        margin-left: 20px;
                        display: block;
                    }
                }
                picture{
                    img, svg{
                        height: 25px;
                        width: 25px;
                    }
                }
            }
            .user{
                padding: 30px;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                background-color: whitesmoke;
                padding: 30px;
                margin-bottom: 5px;
                border: 5px solid $corPrimary1;
                border-radius: 50px;
                picture{
                    img, svg{
                        width: 45px;
                    }
                }
                p{
                    display: none;
                }
            }

        }
        .selects2{
            display: none;
        }
        .vision{
            position: relative;
            padding: 20px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .tarefas{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                &::-webkit-scrollbar{
                    width: 10px;
                    background-color: transparent;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: gainsboro;
                    border-radius: 50px;
                }
            }
            .increment{
                position: absolute;
                bottom: 0px;
                display: flex;
                justify-content: center;
                width: 50px;
                i{
                    cursor: pointer;
                    font-size: 40px;
                    color: $corPrimary3;
                }
                &:active::before {
                    transition: all;
                    transition-duration: 200ms;
                    transition-timing-function: ease-in-out;
                    top: -50px;
                    background-color: $corPrimary3;
                    color: whitesmoke;
                    width: 150px;
                    font-size: 18px;
                    text-align: center;
                    padding: 10px;
                    border-radius: 10px;
                    position: absolute;
                    content: 'Adicionar tarefa';
                    
                }
            }
        }
        .controllers{
            picture{
                img, svg{
                    width: 50px;
                }
            }
        }
    }
    
}
// Media desktop medio
@media (max-width: 1070px) {}

// Media tablet
@media (max-width: 798px) {
    section{
        .display{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .selects1, .selects2{
                position: absolute;
                overflow: hidden;
                bottom: -5px;
                display: flex;
                align-items: stretch;
                width: 100%;
                height: 60px;
                background-color: $corPrimary2;
                box-shadow: 5px 5px 10px rgba(196, 196, 196, 0.63);
                border-radius: 10px;
                z-index: 2;
                .btn, .user{
                    position: relative;
                    top: -20px;
                    transition: all;
                    border: solid;
                    transition-duration: 200ms;
                    transition-timing-function: ease-in-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    color: $corPrimary1;
                    background-color: whitesmoke;
                    width: 45px;
                    height: 45px;
                    padding: 10px;
                    margin: 8px;
                    border-radius: 10px;
                    &:hover{
                        display: flex;
                        justify-content: space-between;
                        width: 150px;
                        p{
                            margin-left: 20px;
                            display: block;
                        }
                    }
                    picture{
                        svg{
                            height: 25px;
                            width: 25px;
                            &:hover{
                                a{
                                    display: flex;
                                    justify-content: space-between;
                                    width: 150px;
                                p{
                                    margin-left: 20px;
                                    display: block;
                                }
                                }   
                            }
                        }
                    }
                }
            }
            .vision{
                .increment{
                    position: absolute;
                    bottom: 50px;
                    width: 50px;
                    height: 50px;
                    z-index: 1;
                    
                }
            }
        }
    }
}

// Media mini tablet
@media (max-width: 598px) {
    section{
        .display {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .menuExpand, .menuExit {
                display: block;
                position: absolute;
                top: -60px;
                right: 0px;
                background-color: red;
                background-color: whitesmoke;
                box-shadow: 0px 0px 15px 5px rgba(196, 196, 196, 0.63);
                border-radius: 10px;
                padding: 10px;
                svg {
                    width: 30px;
                    height: 30px;
                }
                z-index: 3;
            }
            .selects1, .selects2 {
                transition: all;
                transition-duration: 200px;
                display: grid;
                position: absolute;
                overflow: hidden;
                right: -5px;
                top: 0px;
                align-items: stretch;
                width: 60px;
                height: 90%;
                background-color: $corPrimary2;
                box-shadow: 5px 5px 10px rgba(196, 196, 196, 0.63);
                border-radius: 10px;
                z-index: 2;
                .btn{
                    position: relative;
                    top: -20px;
                    transition: all;
                    border: solid;
                    transition-duration: 200ms;
                    transition-timing-function: ease-in-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    color: $corPrimary1;
                    background-color: whitesmoke;
                    width: 45px;
                    height: 45px;
                    padding: 10px;
                    margin: 8px;
                    border-radius: 10px;
                    &:hover {
                        display: flex;
                        justify-content: center;
                        width: 45px;
                        p {
                            display: none;
                        }
                    }
                    picture {
                        svg {
                            height: 25px;
                            width: 25px;
                            &:hover {
                                a {
                                    display: flex;
                                    justify-content: space-between;
                                    width: 150px;

                                    p {
                                        margin-left: 20px;
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
                .user{
                    &:hover {
                        display: flex;
                        justify-content: center;
                        width: 45px;

                        p {
                            display: none;
                        }
                    }
                }
                
            }
            .selects1{
                display: none;
            }
            .vision {
                .increment {
                    position: absolute;
                    bottom: -10px;
                    width: 50px;
                    height: 50px;
                    z-index: 1;
                }
            }
        }
    }
}

// Media para mobile
@media (max-width: 415px) {
    section{
        height: 80vh;
        .display{
            .vision {
                .increment {
                    position: absolute;
                    bottom: -20px;
                    width: 50px;
                    height: 50px;
                    z-index: 1;
                }
            }
        }
    }
}