@import '../../style/scss/fonts';
@import '../../style/scss//paletas';
header{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        text-decoration: none;
        display: flex;
        align-items: center;
        h3{
            color: $corPrimary3;
            display: flex;
            text-transform: uppercase;
            align-items: center;
            margin-right: 10px;
        }
        picture{
            img{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
            }
        }
    }
    .warning{
        
        padding: 10px;
        color: whitesmoke;
        font-weight: 600;
        border-radius: 10px;
    }
    .warningSucess{
        @extend .warning;
        background-color: rgb(95, 204, 131);
    }
}