$corPrimary1:#4035D1;
$corPrimary2:#513EDA;
$corPrimary3:#5A42DD;
$corPrimary4:#644FE4;
$corPrimary5:#665FE5;
$corPrimary6:#686AE7;
$corPrimary7:#777BEB;
$corPrimary8:#8694F2;


$azulPrimary1:#5B79E8;
$azulPrimary2:#4B8EE6;
$azulPrimary3:#5A96EA;
$azulPrimary4:#4AA2E9;
$azulPrimary5:#41A7E8;

$preto600:#0d0c0c;
$preto500:rgb(18, 17, 17);
$preto400:#191919;
$preto300:#212121;
$preto200:#292929;
$preto100:#464646;

$branco500:#E8E3E3;
$branco400:#ebebeb;
$branco300:#FFFFFF;
$brancoLetra:#cfd1d7;